.div2{
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
   width: 90%;
   height: 400px;

}
.div1{
     background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    height: 400px;
    width: 90%;
}
.div3{
    background-image: url('../assets/deal-bloom.png');
    height: 300px;

}